{% load static %}


<html>  
<head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<!-- bootstrap cdn link  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css">
<link rel ="stylesheet" type="text/css" href ="{% static 'doctor/css/style1.css' %} ">
</head>


{% comment %} 
<br>
<div class="card" style="width: 30rem;">
    {% for i in doctor%}  
    <hr>
    <img class="card-img-top" src="{{i.doctor_img.url}}" alt="Card image cap" width="400" height="300">
    <div class="card-body">
      <h5 class="card-title">دکتر : {{i.name }} {{i.lastName}}</h5>
      <p class="card-text">تاریخ حصور دکتر : {{come1}} , {{come2}} , {{come3}}</p>
      <p class="card-text"> قیمت ویزیت : {{price}}</p>
      <p class="card-text">  تحصص : {{Specialty}}</p>
      <a href="/doctor/visit" class="btn btn-primary">نوبت</a>
    </div>
    {%endfor%}
  </div>
</center> {% endcomment %}





<section class="reviews" id="reviews">

    <h1 class="heading"> متخصصین درمانگاه شهر </h1>
    <br>
    <br>
    <div class="box-container container">
        {% for i in doctor%}  
        <div class="box">
            <img src="{{i.doctor_img.url}}" alt="">
            <br>
            <br>
            <h3>دکتر : {{i.name }} {{i.lastName}}</h3>
            <p> تخصص : {{Specialty}}</p>
            <p> تاریخ حصور دکتر : {{come1}} </p>
            <p> تاریخ حصور دکتر : {{come2}} </p>
            <p> تاریخ حصور دکتر : {{come3}} </p>
            
            <p>قیمت ویزیت: {{price}}</p>
        </div>
        {%endfor%}
    </div>

</section>








<script src = "{% static 'doctor/js/script1.js'  %} " ></script>
<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
</body> 
</html>