
{% load static %}
{% load jalali_tags %}
{% load widget_tweaks %}
<html land ='fa' dir='rtl'>
   
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>دریافت نوبت</title>
  <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

  <!-- bootstrap cdn link  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css">
  <link rel ="stylesheet" type="text/css" href ="{% static 'doctor/css/style1.css' %} ">

</head>

<body>


   <section class="contact" id="contact">

    <h1 class="heading">دریافت نوبت</h1>
    

    <form method="POST">
        {%csrf_token%}


        {% render_field form.name type="text"  placeholder="نام" class="box" %}          
        {% render_field form.lastName type="text"  placeholder="نام خانوادکی" class="box" %}
        {% render_field form.natinal_code type="text"  placeholder="کد ملی" class="box" %}
        {% render_field form.age type="text"  placeholder="سن" class="box" %}
        {% render_field form.phone_num type="text"  placeholder="تلفن" class="box" %}
        {% render_field form.mirid   placeholder="  متاهل یا مجرد" class="" %}
        <br>
        {% render_field form.doctor_choses type="text"  placeholder="نام دکتر" class="box" %}
        {% render_field form.doctor_time type="text"  placeholder="ساعت" class="box" %}     
        {% render_field form.Date_Time type="date"  placeholder="تاریخ" class="box"%}
        
        <center>
        <input type="submit" value="ثبت" name="submit" class="link-btn">
        </center>

    </form>

</section>





 <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
<script src = "{% static 'doctor/js/script1.js'  %} " ></script> 


</body>

</html>